@model IEnumerable<Image.Models.Table>

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
    </tr>
    @foreach (var image in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("View", "Image", new { id = image.Id })" width="100" />
            </td>
            <td>@image.ImageName</td>
        </tr>
    }
</table>
